body,
html {
  width: 100%;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  background: url("qiqi.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
h1{
  font-size: 3rem;
  color: #4a89e5;
}
hr{
  background-color: #2770dc;
  border-width: 3px;
  max-width: 65px;
}
.buffer{
  height: 10rem;
}
.btn{
  font-weight: 700;
  border-radius: 300px;
  text-transform: uppercase;
}
.btn-primary{
  background-color: #2770dc;
  border-color: #2770dc;
}
.btn-primary:hover{
  background-color: #1d51a1;
  border-color: #1d51a1;
  border-width: 4px;
}
.btn-xl{
  padding: 1rem 2rem;
}